@namespace RichTextBlazorfied.Components

<dialog id="@DialogId" class="rich-text-box-modal rich-text-box-scroll">
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <div style="align-self: flex-start;">
            <h2>@Title</h2>
        </div>
        <div style="align-self: flex-start;">
            <span @onclick='() => CloseDialog(DialogId!)' class="rich-text-box-modal-close">&times;</span>
        </div>
    </div>
    <div>
        @ChildContent
        <div style="margin-top: 5px; text-align: right;">
            <button @onclick='() => CloseDialog(DialogId!)' class="rich-text-box-form-button">Close</button>
            <button id="rich-text-box-ok-button" @onclick="OnClick" class="rich-text-box-form-button">OK</button>
        </div>
    </div>
</dialog>